<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <clear />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <verbs allowUnlisted="true">
            <remove verb="DELETE" />
            <remove verb="PUT" />
            <remove verb="PATCH" />
          </verbs>
        </requestFiltering>
      </security>
      <httpErrors existingResponse="PassThrough" />
      <aspNetCore processPath="dotnet" arguments=".\aqua_api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
    </system.webServer>
  </location>
</configuration>
