<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <remove verb="DELETE" />
          <remove verb="PUT" />
          <remove verb="PATCH" />
        </verbs>
      </requestFiltering>
    </security>
    <aspNetCore processPath="dotnet" arguments=".\aqua_api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
